body {
  font-family: Nunito,sans-serif;
  background-color: #121212;
  color :#e7e7e7;
}

.clear {
  clear: both;
}

.custom-nav-padding {
  padding: 0;
}

.custom-nav {
  background-color:#333;
}

.custom-nav-btn {
  background-color:#0078f2;
}

.custom-nav-item {
  color:#fff;
}

.navbar-light .navbar-nav .nav-link {
  color:#e7e7e7;
  font-weight:300;
}

.nav-item {
  border-bottom:1px solid #525252;
}

.custom-nav-bottom-padding {
  padding:.5rem 1rem;
}

.custom-nav-border {
  border:1px #525252 solid;
  text-align:center;
  font-size:.75rem;
}

.custom-blue-box {
  background-color:#0078f2;
}

.icon {
  font-size:1.5rem;
}

.no-margin {
  margin:0;
}

.custom-text-center {
  text-align: center;
  padding: 1rem 0;
}

.dark-gray {
  background-color: #1b1b1b;
}

.small-text {
  font-size: .5rem;
  color: #838383;
}